@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');
*{
    margin: 0;
    padding:0;
}
html{
    scroll-behavior: smooth;
}
.logo{
    width:20%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
.logo img{
    width: 33%;
    border-radius: 40px;
}
.navbar{
    display:flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top:0;
    cursor: pointer;
    
    
    
}

.nav-list{
    width: 50%;
    display: flex; 
    align-items: center;
    
}

.nav-list li{
     list-style: none;
     padding: 26px 45px;
}

.nav-list li a{
  text-decoration: none;
  color: rgb(133, 129, 129);
  font-size: 20px;
  font-family: 'Ubuntu', sans-serif; 
}
.nav-list li a:hover{ 
    color: rgb(197, 194, 194);
}

.rightNav{
   
    width: 40%;
    text-align: right;
    padding: 0 23px;
}


/* .background{
    background: rgba(0, 0, 0, 0.7) url('../img/bg.jpg');
    background-size: cover;
    background-blend-mode: darken;
} */
.firstSection{
    height: 100vh; 
}
.box-main{
     display: flex;
     justify-content: center;
     align-items: center;
     /* padding: 80px; */
     font-family: Georgia, 'Times New Roman', Times, serif;
     max-width: 50%;
     margin: auto;
     height: 50%;
     font-weight: bold;
     /* border: 2px solid red; */
     
}
.firstHalf{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.secondHalf{
    width: 30%;
    
}

.secondHalf p{
    width: 70%; 
    border: 4px solid white;
    border-radius: 20px;
    display: block;
    margin: auto;
    color: rgb(98, 95, 95);
}
.text-big{
    font-size: 30px;
}

.text-small{
    font-size: 17px;
}
.btn-sm{
    padding: 6px 8px;
    vertical-align: middle;
    font-size: 16px;
    
}
.btn{
     
        padding: 8px 20px;
        margin: 30px 60px;
        border: 2px solid white;
        border-radius: 40px;
        font-size: 18px;
        cursor: pointer;
        color: white;
        background-color: rgb(241, 81, 81);
        width: 150px;
        height: 60px;
        
    }


.section{
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
    font-family: 'Rubik', sans-serif;


}
.section-left{
    flex-direction: row-reverse;
}
/* .paras{
    padding: 0 66px;
} */

.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;

}
.line{
    width: 33px;
    background-color: red;
    height: 4px;
    margin: 15px 5px;
}
.card {
    box-shadow: 5px 15px 8px 5px rgba(0, 0, 0, 0.1);
    padding: 16px;
    text-align: center;
    background-color: #ffffff;
    width: 120px;
    height: 150px;
    background-color: white;
    border-radius: 10px;

    
  }
  

  img{
    /* border: 2px solid red; */
    border-radius: 50px;
    
}

@media only screen and (max-width: 1182px){
    .nav-list{
        flex-direction: column;
    }
    .navbar{
        height: 478px;
        flex-direction: column;
        transition: all 0.7s ease-out;
    }
    .rightNav{
        text-align: center;
    }

    #search{
        width: 100%;
    }

    .burger{
        display: block;
    }
    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
    }
    .h-nav-resp{
        height: 72px;
    }
    .v-class-resp{
        opacity: 0;
    }
    .section{
        flex-direction: column-reverse;
    }
    .text-small{
        text-align: center;

    }
    .text-big{
        text-align: center;
        
    }
    .buttons{
        text-align: center;
         
    }
    .paras{
        padding: 0px;
    }
}

